/* Importando fuente de google fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color:greenyellow;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: green;
}

#root{
  width: 100%;
  padding: 0 0.6rem;
}

header{
  display: flex;
  width: 100%;
  min-height: 10vh;
  align-items: center;
  position: absolute;
  top: 0;
}

.divUserInfo{
  position: absolute;
  right: 0;
  margin: 1.4rem;
  text-align: right;
}




