.login-container {
  max-width: 510px;
  margin: 0 auto;
  margin-top: 5vw;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  background-color: #466337;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  color: #acbe68;
}

.login-container .form-title{
    text-align: center;
    font-size: 1.37rem;
    font-weight: 600;
    margin-bottom: 1.87rem;
}

.login-form .input-wrapper{
    height: 54px;
    width: 100%;
    margin-bottom: 1.5rem;
    position: relative;
}

.login-form .input-wrapper .input-field{
    height: 100%;
    width: 100%;
    border-radius: 0.31rem;
    border: 1px solid rgb(10, 12, 6);
    padding: 0 1.25rem 0 3.12rem;
    transition: 0.2s ease;
    color: #c9eaa0;
    background-color: #748a68;
}

.login-form .input-wrapper .input-field:focus{
    border-color: green;
}

.login-form .input-wrapper .input-field::placeholder{
    color: #c9eaa0;
}

.login-form .input-wrapper i{
    color: #c9eaa0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.login-form .input-wrapper i:not(.eye-icon){
    left: 0.9rem;
    pointer-events: none;
}

.login-form .input-wrapper .input-field:focus ~ i:not(.eye-icon){
    color: #466337;
}

.login-form .input-wrapper i.eye-icon{
    font-size: 1.25rem;
    cursor: pointer;
    right: 0.9rem;
    display: none;

}

.login-form .input-wrapper .input-field:valid ~ i.eye-icon{
    display: block;
}

.login-form .login-button{
    width: 100%;
    height: 54px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: #c9eaa0;
    background-color: #748a68;
    margin-top: 2.19rem;
    border-radius: 0.31rem;
}

.login-form .login-button:hover{
    background: #aeb6ae;
}

.login-form .forgot-pass-link{
    display: block;
    width: fit-content;
    margin-top: -0.44rem;
}

.login-container .signup-text{
    text-align: center;
    font-weight: 500;
    margin: 1.75rem 0 0.31rem;   
}

.login-container a{
    color: green;
    font-weight: 500;
    text-decoration: none;
}

.login-container a:hover{
    text-decoration: underline;
}

.formErr{
    color: #fa848a;
}

.fPerfilContainer{
    color: #acbe68 !important;
}

.enlace{
    color: #b4d1a2 !important;
}

.pEnlace{
    text-align: center;
    color: #acbe68 !important;
}
.input-text-area{
    color: #c9eaa0;
    border: black solid 1px !important;
    background-color: #748a68;
    text-decoration: none;
    border: none;
    padding: 10px 2vw;
    min-width: 50vh;
    max-width: 50vh;
}

.check-wrapper{
    display: flex;
    margin: 1.24rem;
}

.admin-check-label{
    color: #c9eaa0;
}





